<div class="mt-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">Datos</h2>
                    <div class="p-3 p-lg-5 border">
                        <div class="form-group row mb-3">
                            <div class="col-md-12">
                                <label for="email" class="text-black">Fecha<span class="text-danger">*</span></label>
                                <mat-form-field class="">
                                  
                                    <mat-date-range-input [min]="today" [max]="maxDate" [dateFilter]="holidayDateFilter" [rangePicker]="picker">
                                      <input matStartDate formControlName="fecha_salida" placeholder="Desde">
                                      <input matEndDate formControlName="fecha_retorno" placeholder="Hasta">
                                    </mat-date-range-input>
                                    
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  
                                    <mat-date-range-picker #picker (closed)="onClose()" ></mat-date-range-picker>
                                  
                                </mat-form-field>
                                <div *ngIf="submitted && f.fecha_salida.errors" class="">
                                    <div *ngIf="f.fecha_salida.errors.required" class="Deladitoygris">*Fecha de salida requerida</div>
                                </div>
                                <div *ngIf="submitted && f.fecha_retorno.errors" class="">
                                    <div *ngIf="f.fecha_retorno.errors.required" class="Deladitoygris">*Fecha de retorno requerida</div>
                                </div>
                                <div *ngIf="DisabledReserva" class="Deladitoygris">*Fechas no disponibles</div>
                            </div>
                        </div>
                        
                        <div class="form-group row mb-3">
                            <div class="col-md-12">  
                                <label for="hora" class="text-black">Hora<span class="text-danger">*</span></label>
                                <select id="hora" class="form-control" formControlName="hora_salida">  
                                    <option value="default">Seleciona una Hora</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:00">11:00</option>
                                    <option value="10:00">12:00</option>
                                    <option value="10:00">13:00</option>
                                    <option value="10:00">14:00</option>
                                    <option value="10:00">15:00</option>
                                    <option value="10:00">16:00</option>
                                    <option value="10:00">17:00</option>
                                    <option value="10:00">18:00</option>
                                </select>
                                <div *ngIf="submitted && f.hora_salida.errors" class="">
                                    <div *ngIf="f.hora_salida.errors.required" class="Deladitoygris">*Campo requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <div class="col-md-12">  
                                <input #isDespacho id="isDespacho" formControlName="despacho" class="mr-2" type="checkbox" [checked]="despacho" (change)="checkDespapcho(isDespacho.checked)">
                                <label>Despacho</label>
                            </div>
                        </div>

                        <div *ngIf="despacho" class="form-group row">
                            <div class="col-md-12">
                                <label for="email" class="text-black">Tu dirección</label>
                                <input readonly type="text" class="form-control mt-1"  formControlName="direccion_desp" value="{{account.domicilio['direccion']}}" id="email" name="email">
                                <div *ngIf="submitted && f.direccion_desp.errors" class="">
                                    <div *ngIf="f.direccion_desp.errors.required" class="Deladitoygris">*Campo requerido</div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!despacho" class="form-group row">
                            <div class="col-md-12">
                                <label for="email" class="text-black">Retiro en sucursal<span class="text-danger">*</span></label>
                                <select id="hora" class="form-control mt-1" (change)="changeSucursal($event)" formControlName="nombre_sucursal">
                                    <option *ngFor="let sucursal of Sucursal" [ngValue]="sucursal" value="{{sucursal}}">{{sucursal}}</option>
                                </select>
                                <div *ngIf="submitted && f.nombre_sucursal.errors" class="">
                                    <div *ngIf="f.nombre_sucursal.errors.required" class="Deladitoygris"> *Campo requerido</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Tu Orden</h2>
                            <div class="p-3 p-lg-5 border">
                                <table class="table site-block-order-table mb-1">
                                    <thead>
                                        <tr>
                                            <th>Agenda</th>
                                            <th>Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items">
                                            <td>{{ item.marca }}<strong class="mx-2">x</strong> 1</td>
                                            <td>{{ item.precio_por_dia | currency:'CLP' }} x Día</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black font-weight-bold"><strong>Total Agenda</strong></td>
                                            <td class="text-black font-weight-bold"><strong>{{totaldias | currency:'CLP'}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-group row mb-5">
                                    <div class="col-12 text-black p-4 mb-4"> 
                                        <p class="border-bottom pb-3">Método de pago:</p>
                                    </div>
                                    <div id="pagos"></div>
                                </div>
                                <button  [disabled]="DisabledReserva" class="btn btn-primary btn-lg w-50 mx-auto" id="" type="submit" value="Pagar">
                                    Reservar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>