<section class="mb-3">
    <img src="../../../assets/Banner 7.jpg" class="img-fluid" alt="Responsive image">
</section>

<h2 class="vehiculos">VEHÍCULOS DE DESEMPEÑO</h2>
<section class="mb-4">
<div class="container marketing">
<div class="row text-justify">
    <div class="col-lg-4">
    <img class="rounded-rectangle" src="../../../assets/chevrolet_spark.png" alt="Generic placeholder image" width="190" height="150">
    <h2>Chevrolet Spark</h2>
    <p class="text-justify mt-2">El Chevrolet Spark es la alternativa urbana de la marca norteamericana. Con la intención de crear un automóvil compacto capaz de desplazarse con agilidad por los abarrotados centros de las ciudades, este coche se convierte en una alternativa funcional y muy divertida de conducir.</p>
    <p><a class="btn btn-secondary"routerLink="/vehiculos" role="button">¡Reserva ya!</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
    <img class="rounded-rectangle" src="../../../assets/subaru_wrx.png" alt="Generic placeholder image" width="190" height="150">
    <h2>Subaru WRX STI</h2>
    <p class="text-justify mt-2">El Subaru WRX STI es un coche deportivo de tamaño compacto, una berlina de 4 puertas potente, con una puesta a punto muy deportiva y una estética acorde. Este modelo ha estado tradicionalmente asociado a la gama del Subaru Impreza, que fue lanzado en el año 1992.</p>
    <p><a class="btn btn-secondary" routerLink="/vehiculos" role="button">¡Reserva ya!</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
    <img class="rounded-rectangle" src="../../../assets/mercedes_benz_gls.png" alt="Generic placeholder image" width="190" height="150">
    <h2>Mercedes benz</h2>
    <p class="text-justify mt-2">El Mercedes benz GLS es un todocamino de grandes dimensiones que destaca por ofrecer una imagen exterior elegante, un refinado y cuidado habitáculo con capacidad de hasta siete pasajeros y una gama de motorizaciones que incluye opciones diésel y poderosos motores de gasolina.</p>
    <p><a class="btn btn-secondary" routerLink="/vehiculos" role="button">¡Reserva ya!</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</div>
</section>
