<section class="banner">
    <img class="img-banner" src="../../../assets/rentalcar.png" alt="">
    <div class="w-100 agenda-ahora row align-items-center">
        <div class="col-12 col-lg-6 ">
            <div class="w-75 bg-dark rounded left">
                <div class="p-4 text-left">
                    <span class="text-light text-left">Autos para todos</span>
                    <h1 class="text-light text-left">Entrega a domicilio prometida</h1>
                    <button class="btn btn-outline-light">Agenda Ahora</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img class="w-100 rota-horizontal car-img" src="../../../assets/huyndaitucson.png" alt="">
        </div>
    </div>
</section>
