.lds-circle {
    transform: translateZ(1px);
}
.lds-circle > div {
    display: flex;
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 50%;
    background: #212529;
    animation: lds-circle 4.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  @keyframes spin { 
    100% { 
        transform: rotate(-360deg);
    } 
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.loader {
  width: 140px;
  height: 140px;
	margin: 50px auto;
	text-align: center;
	color: #212529;
}

.bounce {
	margin-top: 30px;
	animation: bounce 1.5s infinite;
}

.wheel {
	fill: #212529;
  animation: spin 2s linear infinite;
}  