<div class="mt-5">
    <aside class="col-sm-8 w-100">
        <div class="card">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Rango Precio</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                    <div class="row">
                    <div class="col-6">
                      <label>Min</label>
                      <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                    </div>
                    <div class="col-6 text-right">
                      <label>Max</label>
                      <input type="number" class="form-control" placeholder="$1,0000">
                    </div>
                    </div>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Marca</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="Check1">
                            <label class="custom-control-label" for="Check1">Mitsubishi</label>
                        </div> 
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="Check2">
                            <label class="custom-control-label" for="Check2">Chevrolet</label>
                        </div> 
        
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="Check3">
                            <label class="custom-control-label" for="Check3">Toyota</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="Check4">
                            <label class="custom-control-label" for="Check4">Hyundai</label>
                        </div>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
        </div> <!-- card.// -->
    </aside>
</div>
