<div class="mt-5">
    <aside class="col-sm-8 w-100">
        <div class="card">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Rango Precio</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                    <div class="row">
                    <div class="col-6">
                      <label>Mínimo</label>
                      <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                    </div>
                    <div class="col-6 text-right">
                      <label>Máximo</label>
                      <input type="number" class="form-control" placeholder="$1,0000">
                    </div>
                    </div>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Marca</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="custom-control custom-checkbox">
                            <input #isChecked class="mr-1" type="checkbox" name="Mitsubishi" value="hola" (change)="checkFiltro($event)">
                            <label class="custom-control-label" for="Mitsubishi">Mitsubishi</label>
                        </div> 
                        <div class="custom-control custom-checkbox">
                            <input #isChecked class="mr-1" type="checkbox" name="Chevrolet" (change)="checkFiltro($event)">
                            <label class="custom-control-label" for="Chevrolet">Chevrolet</label>
                        </div> 
        
                        <div class="custom-control custom-checkbox">
                            <input #isChecked class="mr-1" type="checkbox" name="Toyota" (change)="checkFiltro($event)">
                            <label class="custom-control-label" for="Toyota">Toyota</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input #isChecked class="mr-1" type="checkbox" name="Hyundai" (change)="checkFiltro($event)">
                            <label class="custom-control-label" for="Hyundai">Hyundai</label>
                        </div>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
        </div> <!-- card.// -->
    </aside>
</div>
