<footer class="footer footer-expand-lg bg-dark static-bottom w-100 mt-5 pt-3">
    <div class="logos p-2">
        <a href="https://www.Facebook.com/"><img src="../../../assets/facebook.png" class="img-responsive" alt="Instagram"></a>
        <a href="https://www.instagram.com/"><img src="../../../assets/instagram.png" class="img-responsive" alt="Instagram"></a>                        
        <a href="https://web.whatsapp.com/"><img src="../../../assets/whatsapp.png" class="img-responsive" alt="Instagram"></a>  
        <a href="https://www.Twitter.com/"><img src="../../../assets/Twitter.png" class="img-responsive" alt="Instagram"></a>  
        <a href="https://www.youtube.com/"><img src="../../../assets/youtube.png" class="img-responsive" alt="Instagram"></a>                  
    </div>
    <p class="text-center p-4">GrandCar © 2021 | Todos los derechos reservado </p>
</footer>