/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';

.ngb-dp-day.disabled {
    color: rgb(92, 92, 92);
    background: rgba(216, 75, 75, 0.301)!important;
}
.bg-dark {
    background-color: #000!important;
}